
/*
=================================================
				UP FROM 1200PX
=================================================
*/ 
@media (min-width: 1367px) and (max-width: 1680px) {
}
/*
=================================================
				UP FROM 1200PX
=================================================
*/ 
@media (min-width: 1200px) and (max-width: 1366px) {
	
}
/*
=================================================
			FROM 992PX TO 1199PX
=================================================
*/ 
@media (min-width: 992px) and (max-width: 1199px) {
	.osr-srvices-thumb-2 .text .title,
	.osr-srvices-thumb-1 .text .title{
		font-size: 20px;
	}
	.osr-srvices-thumb-2{
		padding-left:15px; 
		padding-right:15px; 
	}
	.osr-footer-1 .widget-title .title {
	    font-size: 18px;
	}
	.intro-caption{
		padding: 0;
	}
	.intro-caption .oscar-section-heading-1{
		margin-bottom:36px; 
	}
	.intro-caption .oscar-section-heading-1 .title{
		font-size: 30px;
	}
	.port-filter li{
		padding-left:40px; 
		padding-right:40px; 
	}
	.portfolio-thumb figcaption{
		padding-left:20px; 
		padding-right:20px;
	}
	.portfolio-thumb .title {
	    margin: 0 0 26px;
	}
	.pricing-table-head .price-number {
	    font-size: 52px;
	    line-height: 52px;
	}
	.osr-team-thumb .title {
	    font-size: 20px;
	}
	.counter-bg{
		background-size:102%; 
	}
	.row.testimonial-slider{
		margin-left:0; 
		margin-right:0; 
	}
	.testimonial-slider .slick-prev{
		left: 0;
	}
	.testimonial-slider .slick-next{
		right: 0;
	}
	.banner-caption-wrapper .thumb {
	    max-width: 35%;
	}
	.banner-caption-wrapper .banner-caption {
	   	padding: 0;
	    max-width: 65%;
	}
	.banner-caption-wrapper .title{
		font-size: 42px;
	}
}
/*
=================================================
			FROM 0PX TO 979PX
=================================================
*/ 
@media (max-width: 991px) {
	.main-slider .slick-dots {
	    top: auto;
	    left: 0;
	    right: 0;
	    width: 100%;
	    bottom: 30px;
	    max-width: inherit;
	    transform: translateY(0%);
	    -o-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	    -moz-transform: translateY(0%);
	    -webkit-transform: translateY(0%);
	}
	.main-slider .slick-dots li{
		margin: 0 5px;
	}
	.banner-caption-wrapper .thumb {
	    display: none;
	}
	.row.testimonial-slider{
		margin-left:0; 
		margin-right:0; 
	}
	.testimonial-slider .slick-prev{
		left: 0;
	}
	.testimonial-slider .slick-next{
		right: 0;
	}
	.port-filter li {
	    padding: 9px 25px 11px;
	}
	.intro-caption{
		padding: 30px 15px 0;
	}
	.osr-footer-1 .widget-about p {
	    margin: 0 0 24px;
	}
	p.copyright-p{
		margin: 0!important;
	}
	.counter-bg{
		padding: 0;
		background:none; 
	}
	.newsletter-bar{
		padding: 0 15px;
	}

}

/*
=================================================
			FROM 768PX TO 979PX
=================================================
*/

@media (min-width: 768px) and (max-width: 979px) {
	
  
}
/*
=================================================
			FROM 0PX TO 767PX
=================================================
*/
@media (max-width: 767px) {
	.banner-caption-wrapper .banner-caption{
		padding-left:15px;  
		padding-right:15px;  
	}
	.port-filter li a{
		font-size: 12px;
	}
	.port-filter li {
	    padding: 9px 9px 11px;
	}
	.oscar-section-heading-1 .title{
		font-size: 32px;
	}
	.banner-caption-wrapper .title{
		font-size: 28px;
	}
	.banner-caption-wrapper .small-title{
		font-size: 16px;
	}
	.banner-caption-wrapper .btn {
	    padding: 12px 25px 13px;
	}
	.masonry li{
		width: 100%;
	}
	.copy-right .social-list li,
	.copy-right .short-nav li{
		margin-left:7px; 
	}
	.copy-right .social-list li:first-child,
	.copy-right .short-nav li:first-child{
		margin-left:0px; 
	}
	
	.scroll-btn{
		bottom: 30px;
	}
	
}
/*
=================================================
			FROM 0PX TO 0PX
=================================================
*/
@media (min-width: 732px) and (max-width: 738px) {
	
}
/*
=================================================
			FROM 0PX TO 0PX
=================================================
*/
@media (max-width: 480px) {
	.intro-caption{
		padding-left:0; 
	}
	.newsletter-bar .newsletter-widget{
		padding: 20px;
		text-align: center;
	}
	.newsletter-bar .newsletter-widget .btn{
		padding-left:20px; 
		padding-right:20px; 
	}
	.newsletter-bar .newsletter-widget h6{
		font-size: 14px;
	}
	.osr-testimonial-thumb{
		padding-right: 15px;
		padding-left: 15px;
	}
	.osr-testimonial-thumb,
	.osr-testimonial-thumb::before{
		border-radius: 50px;
	}
	.pricing-table-head .price-number {
	    font-size: 52px;
	    line-height: 52px;
	}
	.video-thumb-effect {
	    padding: 20px;
	}
	.port-filter li{
		border-bottom: 1px solid #ececec;
		border-left:none;
	}
	.oscar-section-heading-1 .title {
	    font-size: 22px;
	}
	.osr-srvices-thumb-2 .text .title,
	.osr-srvices-thumb-1 .text .title {
	    font-size: 20px;
	}
	.banner-caption-wrapper .btn {
		font-size: 14px;
	    padding: 12px 20px 13px;
	    margin-left:5px; 
	}
	.banner-caption-wrapper .small-title {
	    font-size: 12px;
	}
	.banner-caption-wrapper .title {
		font-size: 18px;
	}
	footer, .section, section {
	    padding: 55px 0 30px;
	} 
	
	.copy-right .social-list,
	.copy-right .short-nav {
		float: left;
		width: 100%;
		text-align: center;
	}
	.copy-right [class*="pull-"]{
		width: 100%;
	}
	.copy-right .social-list li,
	.copy-right .short-nav li{
		float: none;
		display: inline-block; 
	}
	.widget_rss ul li a, .widget_meta ul li a, .widget_pages ul li a, .widget_archive ul li a, .widget_nav_menu ul li a, .widget_categories ul li a, .widget_recent_comments ul li a, .widget_recent_entries ul li a,
	body p{
		font-size: 14px;
	}
	.nav-outer{
		/* padding:30px 0 0;  */
	}
}
@media (max-width: 382px) {
	.banner-caption-wrapper .banner-caption{
		padding-left:0px;  
		padding-right:0px;  
	}
}





